# Connect to Vercel Postgres
# POSTGRES_PRISMA_URL="postgres://default:password@ep-host.region.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"
# POSTGRES_URL_NON_POOLING="postgres://default:password@ep-host.region.aws.neon.tech:5432/verceldb?sslmode=require"

# Or for local Postgres:
POSTGRES_PRISMA_URL="postgresql://user:password@localhost:5432/mydb?schema=public"
POSTGRES_URL_NON_POOLING="postgresql://user:password@localhost:5432/mydb?schema=public"
